.provider{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}
.provider-container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.provider-container_item{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    background-color: beige;
    margin: 2rem;
    border-radius: 2rem;
    padding: 1.5rem;
}
.provider-container_item p {
    margin: 0.3rem;
}
.provider-detail-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-left: 5rem;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: beige;
    border-radius: 2rem;
    margin-top: 5rem;
    border: 1px solid black;
}
.provider_detail_button{
    background-color: transparent;
    border: none;
    margin-bottom: 1rem;
}
.text_input{
    padding: 0.5rem;
    border: none;
    margin: 0.7rem;
    border-radius: 2rem;
}
.purchase_order-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-left: 5rem;
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: beige;
    border-radius: 2rem;
    border: 1px solid black;
    margin-top: 12rem;
}
.purchase_order-item{
    display: flex;
    align-items: center;
    padding-top: 0.3rem;
    width: 70%;
    margin-bottom: 3rem;
}
.sendOptions-box{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 30%;
    padding: 1rem;
    margin-bottom: 2rem;
    
}
.sendOptions-box div{
    display: flex;
    margin-top: 0.3rem;
}
.sendOptions-box div input {
    margin-right: 1rem;
}

.purchase_supply-code{
    width: 20%;
}
.purchase_supply-description{
    width: 35%;
}
.purchase_supply-price{
    width: 15%;
    text-align: end;
    margin-right: 1rem;
}
.purchase_supply-units{
    width: 8%;
    border: none;
    background-color: white;
    height: 1.2rem;
    text-align: center;
    margin-right: 1rem;
}

.purchase_supply-units-detail{
    width: 12%;
    border: none;
    height: 1.2rem;
    text-align: center;
}
.provider_detail-container{
    display: flex;
    flex-direction: column;
}
.provider-detail-container p{
    margin: 0.3rem;
}
.shipmentFree_item{
    display: flex;
}
.provider_options-detail{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 30%;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.selectGroup{
    display: flex;
}
.selectGroupItem{
    display: flex;
    align-items: center;
    margin-right: 1rem
}
.selectGroupItem input{
    margin-right: 0.2rem;
}