.supplies_container{
    display: flex;
    flex-wrap: wrap;
}

.supplies_item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    background-color: beige;
    margin: 1rem;
    border-radius: 2rem;
    padding: 1rem;
    width: 30%;
}

.new_supply{
    position: absolute;
    background-color: beige;
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0.5rem;
}
.providers_items {
    display: flex;
    align-items: center;
    margin-top: 0.5rem; 
}
.new_supply-check {
    margin-right: 1rem;

}
.new_supply-name {
    width: 55%;
}
.new_supply-price{
    width: 20%;
    padding: 0.2rem !important;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}
.providers_list{
    display: flex;
    margin-top: 2rem;
}
.providers_list-left{
    width: 45%;
}
.providers_list-right{
    width: 45%;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid black;
}
.btnAgregar{
    margin-left: 0.5rem;
}
.providers_list-item{
    display: flex;
    align-items: center;

}
.providers_list-name{
    margin-right: 0.5rem;
}
.suply_text{
    margin-right: 0.5rem;
    width: 40%;
}
.suply_select-providers{
    display: flex;
    justify-content: center;
}
.supplies_code{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0px;
}
.supplies_providers{
    display: flex;
    justify-content: flex-start;
    padding-left: 1.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
}