.link {
  cursor: pointer;
}
img{
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.optionBtn{
  width: 3rem;
}
.optionBtnList{
  width: 1.6rem;
}
.buttons-box{
  display: flex;
  margin-top: 2rem;
}
.buttons-box div{
  margin: 0.5rem;
}
p{
  margin: 0px;
}
.detail{
  width: 50%;
}
.App{
  display: flex;

}
.left-column{
  width: 20%;
  margin-top: 8%;
}
.right-column {
  flex-grow: 1;
  padding: 20px;
  width: 80%;
  margin-top: 8%;

}
input {
  border-radius: 2rem;
  padding: 0.5rem;
  height: 1.2rem;
}

.buttons-box-supplies{
  width: 15%;
}
.buttons-box-supplies-container{
  width: 100%;
  display: flex;
  justify-content: center;
}