.link {
  cursor: pointer;
}
img{
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.optionBtn{
  width: 3rem;
}
.optionBtnList{
  width: 1.6rem;
}
p{
  margin: 0px;
}
.detail{
  width: 50%;
}
.App{
  display: flex;

}
.left-column{
  width: 20%;
  margin-top: 8%;
}
.right-column {
  flex-grow: 1;
  padding: 20px;
  width: 80%;
  margin-top: 8%;

}