.procesess{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

}
.processes-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.procesess-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    background-color: beige;
}
.papelera-container{
    width: 2rem;
    margin-left: 1rem;
}
.procesess-item{
    display: flex;
    flex-direction: column;
}
.processes-options{
    display: flex;
    justify-content: center;
}
.optionItem{
    margin: 0.2rem;
}