.procesess{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;

}
.processes-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.procesess-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    border-radius: 2rem;
    padding: 1rem;
    background-color: beige;
    margin: 1rem;
}
.papelera-container{
    width: 2rem;
    margin-left: 1rem;
}
.procesess-item{
    display: flex;
    flex-direction: column;
}
.processes-options{
    display: flex;
    justify-content: center;
}
.optionItem{
    margin: 0.2rem;
}
.processes_modify{
    display: flex;
    align-items: center;
}
#processesBtnBox{
    margin-top: 0px;
}